
.page-content {
    margin-left: 250px;
    padding: 20px;
}

.navbar {
    padding-left: 20px;
}
.table-container {
    max-height: 100px; 
    overflow-y: auto; 
    margin-top: 1em; 
    border: 1px solid #ccc; 
    padding: 1em; 
}

.towary-frame {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 13px;
    padding-right: 150px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    max-height: 600px;
    overflow-y: auto;
}

.custom-accordion .accordion-header {
    background-color: #ECECEC; 
    color: white; 
}


