.logo{
    width:120px;
    height:50px;
    margin-right:10px;
}

a{
    text-decoration:none;
    color:unset;
}

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: ;
    min-height: 100vh;

}

.page-content {
    width: 92.2%;
    background-color: #FAFAFA;
    min-height: 98vh;
    margin-right: px;
    overflow: hidden;

}

.card {
    max-width: 368px !important;
    max-height: 148px !important;
}
