.logo{
    width:120px;
    height:50px;
    margin-right:10px;
}

a{
    text-decoration:none;
    color:unset;
}

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.page-content {
    width: 97.75%;
    background-color: #FAFAFA;
    min-height: 97vh;
    margin-right: 0px;
    overflow: hidden;

    
}

.card{
    width:393px;
    height:158px;
}


